{% extends 'base.html' %}

{% block title %}Import for "{{ user.musicbrainz_id }}" - ListenBrainz{% endblock %}

{% block content %}
  <h2 class="page-title">Import to user {{ user.musicbrainz_id }}</h2>
  {% if current_user.is_authenticated and current_user == user %}
    <div id="react-container">
    </div>

    
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ get_static_path('import.js') }}" type="text/javascript"></script>
  <script id="react-props" type="application/json">{{ props|safe }}</script>
{% endblock %}
